<h1>Movies</h1>
<div class="col-md-8">
  <h2>Today's movies</h2>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Movie</th>
      <th>Poster</th>
      <th colspan="3"></th>
    </tr>
    </thead>
    <tbody>
      <% @movies.each do |movie| %>
        <tr>
          <td><%= movie.name %></td>
          <td><%= movie.image %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <%= link_to 'Create movie', new_movie_path, :class => 'btn btn-default' %>
  </div>
</div>