<h1>Showtimes</h1>
<div class="col-md-8">
  <h2>Today's showtimes</h2>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Movie</th>
      <th>Schedule</th>
      <th>Theater</th>
      <th>Buy Ticket</th>
    </tr>
    </thead>
    <tbody>
      <% @showtimes.each do |showtime| %>
        <tr>
          <td><%= showtime.movie.name %></td>
          <td><%= showtime.schedule %></td>
          <td><%= showtime.theater %></td>
          <td>
            <%= link_to 'Buy Ticket', new_showtime_ticket_path(showtime_id: showtime.id),:class => 'btn btn-default' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

